*{
    padding: 0%;
    margin: 0%;
    font-family: Inter;
}
input{
    height: 4vh;
    width: 86%;
    background-color: rgb(244, 244, 244);
    margin-bottom: 4%;
    margin-left: 6%;
    border: 1.5px solid transparent;
    border-radius: 4px;
    border-color: rgb(192, 192, 192);
    opacity: 0.6;
}
.first{
    margin-top: 4%;
}
label,button{
    margin-left: 6%;
}
#message{
    width: 86%;
    height: 16vh;
    margin-left: 6%;
    background-color: rgb(244, 244, 244);
    border-color: rgb(192, 192, 192);
    opacity: 0.6;
    border-radius: 4px;
}
h1{
    font-weight: 700;
}
p{
    font-weight: 400;
}
.main-cont{
    width: 100%;
    height: auto;
    background-color: rgb(244, 244, 244);
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    padding: 4%;
}
.img{
    height: 60vh;
    width: 100%;
}
.box{
    height: 55vh;
    width: 32%;
    background-color: #ffffff;
    padding-top: 2%;
    border-radius: 4px;
}
.btn{
    height: 5vh;
    width: 40%;
    background-color: #A535F1;
    color: white;
    border-radius: 15px;
    border-color: transparent;
    margin-top: 2%;
    font-size: small;
}
@media (max-width: 649px) {
    *{
        font-size: x-small;
    }
    .main-cont{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: -40%;
    }
    .cont{
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 50vh;
        margin-bottom: 10%;
    }
    .header{
        width: 70%;
    }
    input{
        height: 4vh;
    }
    label{
        font-size: medium;
    }
    .img{
        height: 50vh;
        width: 80%;
    }
    .btn{
        border-radius: 25px;
        margin-top: 8%;
    }
}